.userList_container {
  margin-top: 2rem;
}

.userList__title {
  font-size: 1.5rem;
  margin-left: 38rem;
  font-weight: bolder;
}

.userList__addShopButton {
  padding: 13px 30px;
  margin-left: 1rem;
  background-color: red;
  color: #fff;
  border: 0.2rem solid #000;
  border-radius: 0.5rem;
  font-weight: bolder;
  font-size: 1.3rem;
}
